<div class="container mx-auto mt-20">
  <div class="flex justify-center">
      <%= image_tag "mycards_logo.png", alt: "mycards-logo", class: "w-100 h-100" %>
  </div>
  <div class="flex justify-center">
  <%= form_with do |form| %>
    <%# <%= form.label :query, "Search for:" %>
    <%= form.search_field :query, class: "flex-1 px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" %>
    <%= form.submit "Search", class: "px-8 py-3 bg-gray-800 text-white font-semibold rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors cursor-pointer" %>
  <% end %>
  </div>
</div>
