<div class="card">
  <%= image_tag(card.photo_url) %>
  <button class="btn-back"> <%= link_to "Back to MyCards", cards_path %> </button>
  <button class="btn-delete"> <%= link_to "Delete Card", card_path(@card), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </button>
</div>

<div class="card-info">
  <span class="card-info-label">Card Type</span>
  <span class="card-info-detail"> <%= card.card_type %></span>
  <p></p>
  <span class="card-info-label">Mana Cost</span>
  <span class="card-info-detail"> <%= card.mana_cost %></span>
  <p></p>
  <span class="card-info-label">Rarity</span>
  <span class="card-info-detail"> <%= card.rarity.capitalize %></span>
  <p></p>
  <span class="card-info-label">Colors</span>
  <span class="card-info-detail"> <%= card.colors.map { |c| color_name(c) }.join(", ") %></span>
  <p></p>
  <span class="card-info-label">Set</span>
  <span class="card-info-detail"> <%= card.set_name %></span>
  <p></p>
  <span class="card-info-label">Artist</span>
  <span class="card-info-detail"> <%= card.artist %></span>
</div>
