<div class="card">
  <%= image_tag(card.photo_url) %>
  <p><strong><%= card.name %></strong>
  <button class="btn-back"> <%= link_to "Back to MyCards", cards_path %> </button>
  <button class="btn-edit"> <%= link_to "Edit Card", edit_card_path %></button>
  <button class="btn-delete"> <%= link_to "Delete Card", card_path(@card), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </button>
</div>

<div class="card-info">
  <span class="card-info-label">Card Type</span>
  <span class="card-info-detail"> <%= card.card_type %></span>
  <p></p>
  <span class="card-info-label">Converted Mana Cost</span>
  <span class="card-info-detail"> <%= card.convertedManaCost %></span>
  <p></p>
  <span class="card-info-label">Color</span>
  <span class="card-info-detail"> <%= card.colors %></span>
</div>
