<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mycards" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" type="image/svg+xml" href="<%= asset_path('mycards_new_favicon.svg') %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800;900&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js"></script>
  </head>

  <body class="bg-gray-200">
    <%= render "shared/navbar" %>
      <% if flash.any? %>
        <div class="max-w-7xl mx-auto px-4 py-4">
          <% flash.each do |type, message| %>
            <div class="<%= type == 'notice' ? 'bg-green-100 border-green-400 text-green-700' : 'bg-red-100 border-red-400 text-red-700' %> text-center border px-4 py-3 rounded mb-4">
              <%= message %>
            </div>
          <% end %>
        </div>
      <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
